<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="" value="" />
        <add key="" value="" />
        <add key="" value="" />
    </appSettings>
    <connectionStrings>
        <add name="defaultConnection"
             connectionString="Server=localhost;Database=mydb;User Id=myuser;Password=mypass;"
             providerName="System.Data.SqlClient"
             />
    </connectionStrings>
</configuration>